.slide1{
  background-image: url('test1.jpg');
  height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slide2{
  background-image: url('test2.jpg');
  height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slide3{
  background-image: url('test3.jpg');
  height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.testIcon {
  height: 50px;
  width: 40px;
  padding-right: 10px;
}
.carousel-indicators{
  padding-bottom: 0;
  margin-bottom: 0;
  bottom: 5px;
}
.carousel-caption{
  position:absolute;
  bottom:-15px;
  font-size: 1.5em;
  font-family:'Helvetica';
}
